SECRET_KEY=troque-por-uma-chave-aleatoria
DEBUG=True
TELEGRAM_BOT_TOKEN=SEU_TOKEN_NOVO_DO_BOTFATHER
TURMA_PADRAO_NOME=Turma 01
RIBEIRO_SENHA=defina_uma_senha_forte
BERNOULLI_LOGIN_URL=http://api.bernoulli.com.br/api/autenticado/parametros
BERNOULLI_API_URL=http://api.bernoulli.com.br/api/calendario/events
BERNOULLI_LOGIN_FIELD_USER=login
BERNOULLI_LOGIN_FIELD_PASS=senha
DIAS_INTERVALO=89
